@page
@model Asp.net_recepy_blog.Pages.AboutModel
@{
    ViewData["Title"] = "О нас";
}
<div class="m-4">

    <div class="row pt-4 pb-4">
        <div class="col">
            <img src="/imgs/about-img.jpg" class="border-end border-3" />
        </div>
        <div class="col d-flex flex-md-column justify-content-center">
            <h1 class="mt-4 mb-4">О нас</h1>
            <p class="mt-3 mb-3">Добро пожаловать на нашу страничку, любители и новички обмена рецептами!</p>
            <p class="text-justify">
                Мы с гордостью можем сказать, что на нашем сайте находится лучшая в мире
                коллекция рецептов! Каждый рецепт, находящийся на сайте, обязательно будет
                потрясающий!
                Не верьте нам на слово! Посетите нас в Yelp, Facebook, Twitter и где угодно!
                Опубликовано в журнале Cooking Light (журнал Time — награда Cross-
                Cultural Mash-Up, 2013), в нескольких выступлениях в Houston Press,
                в телесериале «Азиатские отбивные» и в множестве других национальных
                изданий и средств массовой информации! Загляните и узнайте, чем в восторге
                все ваши друзья!
            </p>
            <ul class="navbar-nav d-inline-flex flex-row gap-5">
                <li><a href="https://facebook.com"><img src="/imgs/Facebook.svg" alt="Facebook" /></a></li>
                <li><a href="https://x.com/?lang=en"><img src="/imgs/Twitter.svg" alt="X" /></a></li>
                <li><a href="https://www.instagram.com"><img src="/imgs/Instagram.svg" alt="Instagram" /></a></li>
            </ul>
        </div>
    </div>

</div>
