@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="row pt-4 pb-4 m-4">
    <div class="col">
        <img src="/imgs/privacy.png" class="border-end border-3" />
    </div>
    <div class="col d-flex flex-md-column justify-content-center">
        <h1 class="mt-4 mb-4">Политика конфиденциальности</h1>
        <p class="text-justify">
            В соответствии с нашей Политикой Конфиденциальности, мы стремимся обеспечить безопасность и защиту личных данных всех пользователей нашего сайта. Мы собираем только необходимую информацию для предоставления услуг и улучшения вашего опыта использования нашего ресурса. Ваше согласие на обработку персональных данных является важной частью взаимодействия с нами.
            Мы обязуемся не передавать ваши данные третьим лицам без вашего явного разрешения, за исключением случаев, когда это необходимо для выполнения юридических обязательств или защиты наших прав и интересов.
            Для получения дополнительной информации о том, какие данные мы собираем и как они используются, пожалуйста, обратитесь к разделу "Что мы собираем?" в нашей Политике Конфиденциальности.
            Мы постоянно работаем над улучшением качества нашего сервиса и благодарны каждому пользователю за возможность быть частью этого процесса. Ваш вклад помогает нам делать наш сайт лучше для всех.
        </p>
    </div>
</div>
